
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #868b93;
  padding: 3px 5px;
  padding-left: 15px; 
}
.mega-dropdown-menu > li ul > li > a:hover{
  background-color : #428BCA;
  color: #fff; 
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;

}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #036;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.mega-dropdown-carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.mega-dropdown-left.mega-dropdown-carousel-control {
  right: 30px;
  left: inherit;
}
.mega-dropdown-carousel-control .mega-dropdown-glyphicon-chevron-left, 
.mega-dropdown-carousel-control .mega-dropdown-glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.mega-dropdown-menu-body{
  background-color: #fff;
}