<!-- Booking Form Start -->
	
	<div class="container">
		<div class="col-lg-6">
			<div class="panel panel-primary booking-form-body">
				<div class="panel-heading">Yüzbinlerce otel,konaklama merkezi ve daha fazlası.. </div>
					<div class="panel-body">
						<form action="#" role="form">

							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<label for="">Otel veya Şehir ara</label>
										<input type="text" class="form-control" id="otel_and_city">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">
									<div class="col-lg-6">
										<label for="">Check-In</label>
									</div>
									<div class="col-lg-6">
										<label for="">Check-Out</label>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group">

									<div class="col-lg-6">
										<div class='input-group date' id='datetimepicker2'>
				                   			<input type="text" class="form-control" id="inputDatetator" name="inputDatetator" value="">
					                  	  <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-calendar"></span>
						                    </span>
				               			 </div>
						            </div>
						        
					        
						        	<div class="col-lg-6">
										<div class='input-group date' id='datetimepicker2'>
						                    <input type="text" class="form-control" id="inputDatetator2" name="inputDatetator2" value="">
						                    <span class="input-group-addon">
						                        <span class="glyphicon glyphicon-calendar"></span>
						                    </span>
						                </div>
						            </div>

					        	</div>
							</div>
										
					</div>
							
					<div class="row">
						<div class="form-group">
							<div class="col-lg-offset-10">
								 <button type="submit" class="btn btn-primary">Ara</button>
							</div>
						</div>
					</div>
				
						</div>
					</form>
				</div>
			</div>
		</div>	
		
	</div>

<!-- Booking Form END -->

